
nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(42, 103, 247);
    border-bottom: 2px solid rgb(42, 103, 247);
    transition: 0.1s;
  }


nav {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(69, 74, 76);
    
  }
  

  nav a:hover,
  nav a:active {
    color: rgb(0, 234, 255);
    border-bottom: 2px solid rgb(0, 234, 255);
  }

  nav a.active {
    background-color: rgb(0, 234, 255);
    color: rgb(0, 0, 0);
  }

 H5{
  position: relative;
  margin-top: 30%;
  text-align: center;
  font-style: italic;
  color: rgb(219, 10, 10);
  font-size: 4em;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
 }

p{

    height: 400px;
    text-align: center;
    margin-left: 300px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
  }

  H1{
   text-align: center;
 
    font-style: oblique;
    color: rgb(7, 35, 247);
    font-size: 3.5em;
    text-shadow: 5px 5px 5px rgb(0, 1, 1);
  }
  
  H2,H3{
    position: relative;
    margin-top: 30%;
    text-align: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 4em;
    text-shadow: 2px 2px 5px rgb(205, 239, 240);
  }

  .truckCard{
    float: left;
    width: 32%;
    padding: 5px;
  }

#about{
  width: 50%;
}

p{
  width: 2000px;
  color: black;
  border: 2px solid #000000;
  font-size: 3em;
  box-shadow: 3px 3px #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  H4{

    width: 500px;
  color: black;
  border: 2px solid #000000;
  font-size: 2em;
  box-shadow: 2px 1.5px #000000
  }
 
body{
  background: linear-gradient(rgb(89, 93, 99), rgb(68, 170, 201));
}


  #truck-image{
    width: 00%;;
    height: 200px;
    width: 200px;
    margin: 10px;
    float: left;
    height: auto;
    text-align: center;
    border: rgb(0, 0, 0) solid 1.5px;
    padding: 1rem;
    width: 36rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #000000
  }

  #about{
    position: relative;
    top: 100px;
  }

  input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;

  }
  input[type=text]:focus {
  border-color:#333;
  }
  input[type=submit] {
  padding:5px 50px; 
  background:#ccc; 
  border:3px noe;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.addTruck{
font-size: x-large;

}

#delete-btn{
  padding:5px 30%;

}